.cust-marg-bot-0 {
  margin-bottom: 0;
}
.cust-marg-left-15 {
  margin-left: 15px;
}
.cust-marg-right-15 {
  margin-right: 15px;
}
.cust-marg-top-0 {
  margin-top: 0px;
}
.cust-marg-top-5 {
  margin-top: 5px;
}
.cust-marg-top-15 {
  margin-top: 15px;
}
.cust-info-card .cust-info-header-cont {
  margin-bottom: 0;
}
.cust-info-card .cust-info-name{
  margin-top: 0;
}
.cust-info-card .cust-info-title {
  margin-top: 0;
  margin-bottom: 0;
}
